/********************************
*	Author: S. M. Amirul Islam	*
*	Ennvisio Digital			*
*								*
********************************/

* {
	padding: 0;
	margin: 0;
}

body {
	/*overflow-x: hidden;*/
	font-family: 'Noto Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	/*width: 80%;
	-webkit-box-shadow: 3px 3px 30px 2px rgba(0,0,0,0.42);
	-moz-box-shadow: 3px 3px 30px 2px rgba(0,0,0,0.42);
	box-shadow: 3px 3px 30px 2px rgba(0,0,0,0.42);
	margin: 0 10%;*/
	min-height: 100vh;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	transition: all 300ms ease-in-out;
}

a:hover,
a:active {
	text-decoration: none;
}

.my-container {
	width: 100%;
	height: auto;
	margin: 0 0;
	padding: 0 0;
}

.my-row {
	margin: 0 !important;
}



/****************************************************/

.wrapper {
	box-sizing: border-box;
	/*width: 96%;
	margin: 0 2%;
	/*margin-top: 2px;*/*/
}

.header-bar {
	/*height: 60px;*/
	background-color: #009fdd;
	/*margin-bottom: 50px;*/
}

#home-header-bar {
	background-color: #009DD8;
}

#home-header-bar ul {
	margin: 0;
	text-align: right;
	padding: 1px 0;
}

#home-header-bar ul li {
	display: inline-block;
	padding: 5px 10px;
}

#home-header-bar ul li a {
	color: #fff;
}

#home-header-bar ul li a:hover {
	color: #2f2f2f;
}

#home-header-bar ul li:first-child {
	border-right: 1px solid #e3e3e3;
}

#header {
	background-color: #d9e2e1;
}

#logo > a > img {
	width: 130px;
	vertical-align: middle;
	margin: 11px 0px 11px 90px;
	text-align: center;
}

#header-img > a > img {
	width: 55%;
	/*transform: scale(1, 0.75);*/
	margin: 0px 20% 0 0;
}

.header-info > ul {
	margin: 30px 0 0 0;
}

.header-info > ul > li {
	font-size: 15px;
}

.header-info > ul > li > i {
	margin-right: 5px;
	color: #f47920;
}

#main-nav {
	background-color: #009fdd;
}

#nav-wrapper nav {
	padding: 2px 0;
}

#navbarNav ul {
	display: inline-block;
	width: 100%;
}

#navbarNav li {
	display: inline-block;
	width: 19%;
	text-align: center;
}

#navbarNav li a {
	border-radius: 5px;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
}

#navbarNav li a:hover {
	color: #3e3e3e;
}

/* Homepage CSS Start */

#slider-area {
	background-color: #f8f8f8;
}

#slider {
	background-color: #fff;
	margin: 20px 0;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 20px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 20px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 20px 0px rgba(0,0,0,0.75);
	text-align: center;
	width: 100%;
	padding: 10px;
}

.carousel-item > img {
	max-height: 500px;
}

#ch-greetings {
	padding: 30px 0 10px;
}

#greetings-text > h4 {
	margin-bottom: 25px;
}

#greetings-text > p {
	text-align: justify;
	/*padding-right: 40px;*/
}

#ch-info {
	text-align: center;
}

#ch-info > img {
	width: 220px;
}

#ch-info > h6 {
	margin-top: 20px;
}

#ch-info > p {
	margin-bottom: 5px;
}

#info-sec {
	background-color: #f8f8f8;
	padding: 20px 0 10px;
}

.info-card {
	background-color: #fff;
	border-radius: 5px;
	min-height: 300px;
}

.info-card:hover {
	transform: scale(1, 1.02);
}

.info-card > h5 {
	background-color: #6B328D;
	color: #fff;
	text-align: center;
	padding: 10px 0;
}

#map {
	margin-bottom: -7px;
}

/* Homepage CSS End */


/* Terms Page CSS Start */
#terms-main-content {
	padding-bottom: 35px;
}

#terms-details {
	padding-top: 20px;
}

#terms-details > p:last-child {
	margin-bottom: 30px;
}
/* Terms Page CSS End */

/*Apply Page CSS Start*/

#user-account {
	width: 60%;
	margin: 0 0 0 29%;
	padding: 5px 0;
}

#userButton {
	background-color: transparent;
	color: #fff;
	border: 1px solid #eee;
}

.main-content {
	background-color: #eeeeee;
	box-sizing: border-box;
	min-height: 400px;
	padding: 5px 0;
}

#content-heading {
	background-color: #f5f5f5;
}
#content-heading > h4 {
	padding: 10px 0;
	text-align: center;
}

.sidebar {
	margin: 10px 0 10px -13px;
	background-color: #fff;
}

.sidebar > a {
	color: #fff;
	/*background-color: rgba(0, 117, 123, 0.5);*/
	background-color: rgba(0, 159, 221, 0.8);
	display: block;
	padding: 15px 0 15px 20px;
	border-bottom: 0.5px solid #eee;
}

.sidebar > a:last-child {
	border-bottom: none;
}

.sidebar > a:hover {
	/*background-color: rgba(0, 117, 123, 1);*/
	background-color: rgba(0, 159, 221, 1);
}

#app-sidebar > img {
	padding-top: 5px;
	display: block;
	margin: 0 auto;
	border-radius: 50%;
}

#app-sidebar > h5 {
	color: #313131;
	text-align: center;
	padding-top: 10px;
}

.content-area {
	min-height: 550px;
	background-color: #fff;
	margin: 10px -15px;
	/*padding: 5px 0 5px 10px;*/

}

.content-area > ul > li > a {
	color: #00bcb5;
}

#app-content-area > ul > li > a.active {
	color: #000;
	background-color: #dedede;
}

#myTabContent {
	padding: 15px 0 0 10px;
}
#app-info {
	padding-top: 15px;
}

#app-info p, #app-info input {
	/*padding-top: 25px;*/
}

.label-form {
	margin-bottom: 0;
	margin-top: 10px;
}

.in-form {
	width: 70%;
	margin-bottom: 0;
	margin-top: 10px;
}

.custm-btn {
	min-width: 100px;
	margin: 20px 0px;
	/*position: absolute;
	bottom: 5px;*/
}

#submit-btn {
	margin: 20px;
	min-width: 100px;
}

/* category A */

#driver-details > h5 {
	padding: 10px 15px;
}



/*Apply Page CSS End*/


/* Admin Page CSS Start */

#adm-header-bar {
	height: 55px;
}

#adm-header-bar nav {
	padding: 0;
}

#adm-logo{
	text-align: center;
}

#adm-logo img{
	width: 80px;
	padding: 3px 0;
}

#adm-navbar > ul {
	width: 100%;
}
#adm-navbar > ul > li {
	width: 19%;
	text-align: center;
	text-transform: uppercase;
	padding: 7px 0 0 0;
}

#adm-navbar > ul > li > a {
	color: #fff;
	font-weight: bold;
}

#adm-navbar > ul > li > a:hover {
	color: #3e3e3e;
}

#adm-account {
	width: 50%;
	margin: 0 25%;
	padding: 10px 0;
}

#adminMenuButton {
	background-color: transparent;
	color: #fff;
	border: 1px solid #eee;
}

#adm-main-content {
	padding-top: 30px;
}

/*#adm-sidebar > a {
	display: block;
	/*background-color: #009fdd;*/
	/*text-align: center;
}

#adm-sidebar > a:hover {
	color: #4318e2;
}
*/
#search-form {
	padding-top: 10px;
}

#search-form label {
	width: 35%;
	margin: 15px 0;
}

#search-form input {
	width: 63%;
	min-height: 45px;
	margin: 15px 0;
	border: 1px solid #a2a2a2;
	border-radius: 5px;
}

#search-btn {
	margin: 20px 0 0;
	text-align: center;
}
/* Login & Registration Page CSS */
#footer {
	min-height: 200px;
	background-color: #636363;
}

#footer-bar {
	background-color: #d4d4d4;
	padding-bottom: 1px;
}

#footer-bar > p {
	text-align: center;
	padding: 10px 0;
	margin: 0;
}
div#footer {
	padding:  50px 0;
	color:  #fff;
	font-size: 15px;
	background: #17586d;
}
.single-widget h3 {
	font-size: 20px;
	margin-bottom: 20px;
	text-align: center;
}
.single-widget ul {
	display: flex;
	flex-flow: row wrap;
	margin-left: 22px;
	justify-content: space-between;
}

.single-widget ul li {
	width:  35%;
}

.single-widget ul li a,.single-widget a {
	color: #fff;
}
.single-widget ul li a:hover,.single-widget a:hover {
	color: #ddd;
}

.last p {
	margin-left: 15px;
}
.single-widget {
	position: relative;
}

.single-widget:after {
	position: absolute;
	content: "";
	height: 140px;
	width: 1px;
	right: -15px;
	top: 30px;
	background: #ddd;
}
.last.single-widget:after {
	display:none;
}
.single-widget p {
	margin-left: 15px;
}
.single-widget p i {
	font-size: 12px;
	float: left;
	margin-right: 10px;
	margin-bottom: -5px;
	margin-left: 5px;
	line-height: 25px;
}

#login-area {
	background-color: #eeeeee;
	padding: 125px 0;
}

#signup-area {
	background-color: #eeeeee;
	padding: 80px 0;
}

.bar {
	border-radius: 3px;
	background-color: black;
	color: white;
	font-size: 20px;
	text-align: center;
	padding: 3px 0 3px 0;
	margin-bottom: 10px;
}
.login-div {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
}
.signup-div {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 45%;
}
#forgot-pw {
	float: right;
	color: white;
}


.select_cat_label{
	line-height: 215%;
}
.select_cat_label span{
	font-size: 18px;
}
/*.select_cat_option{
	float: right;

	}*/















	/* Owl Carousel CSS */
	.shadow-effect {
		background: #fff;
		padding: 20px;
		border-radius: 4px;
		text-align: center;
		border:1px solid #ECECEC;
		box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
	}
	#customers-testimonials .shadow-effect p {
		font-family: inherit;
		font-size: 17px;
		line-height: 1.5;
		margin: 0 0 17px 0;
		font-weight: 300;
	}
	.testimonial-name {
		margin: -30px auto 0;
		/*display: table;*/
		width: auto;
		background: #3190E7;
		padding: 9px 35px;
		/*border-radius: 12px;*/
		text-align: center;
		color: #fff;
		box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
	}
	#customers-testimonials .item {
		text-align: center;
		padding: 50px;
		margin-bottom:0px;
		opacity: .2;
		-webkit-transform: scale3d(0.8, 0.8, 1);
		transform: scale3d(0.8, 0.8, 1);
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
		transition: all 0.3s ease-in-out;
	}
	#customers-testimonials .owl-item.active.center .item {
		opacity: 1;
		-webkit-transform: scale3d(1.0, 1.0, 1);
		transform: scale3d(1.0, 1.0, 1);
	}
	.owl-carousel .owl-item img {
		transform-style: preserve-3d;
		max-width: 90px;
		margin: 0 auto 17px;
	}
	#customers-testimonials.owl-carousel.owl-theme .owl-dots .owl-dot.active span, #customers-testimonials.owl-carousel.owl-theme .owl-dots .owl-dot:hover span {
		background: #28CB75;
		transform: translate3d(0px, -50%, 0px) scale(0.7);
	}
	#customers-testimonials.owl-carousel.owl-theme .owl-dots .owl-dot span {
		background: #C4C4CC;
		display: block;
		height: 20px;
		margin: 0 2px 5px;
		transform: translate3d(0px, -50%, 0px) scale(0.3);
		transform-origin: 50% 50% 0;
		transition: all 250ms ease-out 0s;
		width: 20px;
	}


	/******* Back To Top **********/

	#return-to-top {
		position: fixed;
		bottom: 20px;
		right: 20px;
		background: rgba(255, 186, 82, 0.7);
		width: 50px;
		height: 50px;
		display: block;
		text-decoration: none;
		-webkit-border-radius: 35px;
		-moz-border-radius: 35px;
		border-radius: 35px;
		display: none;
		-webkit-transition: all 0.3s linear;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	#return-to-top i {
		color: #fff;
		margin: 0;
		position: relative;
		left: 16px;
		top: 13px;
		font-size: 19px;
		-webkit-transition: all 0.3s ease;
		-moz-transition: all 0.3s ease;
		-ms-transition: all 0.3s ease;
		-o-transition: all 0.3s ease;
		transition: all 0.3s ease;
	}
	#return-to-top:hover {
		background: rgba(255, 186, 82, 1);
	}
	#return-to-top:hover i {
		color: #fff;
		top: 3px;
	}

	/* Error msg For Form  */
	div.err_msg  {
		color: #ff4000;
	}
	.not-active {
		pointer-events: none;
		cursor: default;
		text-decoration: none;
	}
	input[type=date]::-webkit-inner-spin-button,
	input[type=date]::-webkit-outer-spin-button {
		-webkit-appearance: none;
	}


	/* Custom date input */
	input[type="date"] {
		position: relative;
	}

  /* create a new arrow, because we are going to mess up the native one
  see "List of symbols" below if you want another, you could also try to add a font-awesome icon.. */
  input[type="date"]:after {
  	content: "\25BC";
  	color: #555;
  	padding: 0 5px;
  }

  /* change color of symbol on hover */
  input[type="date"]:hover:after {
  	color: #bf1400;
  }

  /* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
  input[type="date"]::-webkit-calendar-picker-indicator {
  	position: absolute;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	width: auto;
  	height: auto;
  	color: transparent;
  	background: transparent;
  }

  /* adjust increase/decrease button */
  input[type="date"]::-webkit-inner-spin-button {
  	z-index: 1;
  }

  /* adjust clear button */
  input[type="date"]::-webkit-clear-button {
  	z-index: 1;
  }
 